# vim: set syn=fish:

# These are platform-specific wrappers to make it easier to write cross
# platform scripts.

{{- if eq .chezmoi.os "darwin" }}
# Alias to gdate if it exists.
if which gdate >/dev/null
    alias date gdate
else
    echo "WARNING: Using macOS bundled date" >&2
end
{{- end }}

{{- if get . "is_wsl" }}
if not set -q SSH_AUTH_SOCK
    # Run npiperealy to accesss windows host SSH agent. Using our wsl-ssh also
    # works, but ssh.exe has some terminal emulation bugs that make it unusable.
    set -gx SSH_AUTH_SOCK (mktemp -u /tmp/ssh-auth-sock-XXXXX)
    # Prevent our auto ssh-agent startup from running.
    socat UNIX-LISTEN:$SSH_AUTH_SOCK,fork EXEC:"/mnt/c/Users/josh/npiperelay.exe -ei -s //./pipe/openssh-ssh-agent",nofork &
    set -gx SSH_AGENT_PID (jobs --last --pid)
    # We're not really trying to disown here, but doing this means that our
    # on_exit handler below will terminate without us getting prompted that there
    # are still running background jobs.
    disown $SSH_AGENT_PID
    function on_exit_kill_ssh_agent_relay --on-event fish_exit
        kill $SSH_AGENT_PID
    end
end
{{- end }}
