readme.md
packages.linux.sh

# For Windows, exclude everything but AppData. For non-windows exclude AppData
{{- if eq .chezmoi.os "windows" }}
**
!AppData
{{- else }}
AppData/**
{{- end }}

# Linux-only configuration files
{{- if ne .chezmoi.os "linux" }}

.Xresources

{{- end }}

{{- if .is_server }}
# Interactive only configuration

.config/alacritty

{{- end }}

# Apollo-only configuration
{{- if ne .chezmoi.hostname "apollo" }}

.config/fish/functions/beets-shell.fish
.config/fish/functions/cephmount.fish
.config/fish/functions/cephshell.fish

{{- end }}

# Work only config
{{- if not .work }}
.config/fish/conf.d/work_custom.fish
{{- end }}

# Personal only config
{{- if .work }}
.config/beets
# We have custom overrides for this, and don't use bazelisk
.config/fish/functions/bazel.fish
{{- end }}
