{{- $is_work := stat (joinPath .chezmoi.homeDir ".work") -}}
{{- $servers := list
    "apollo"
-}}

data:
{{- if has .chezmoi.hostname $servers }}
    is_server: true
{{- else }}
    is_server: false
{{- end }}

{{- if $is_work }}
    work: true
    codeRoot: "$HOME/stripe"
    email: {{ onepasswordRead "op://Private/Josh Kunz/email" }}
    gitHost: {{ onepasswordRead "op://Private/Git/host" }}
{{- else }}
    work: false
    codeRoot: "$HOME/code"
    email: josh@kunz.xyz
{{- end }}
