{{- $is_work := stat (joinPath .chezmoi.homeDir ".work") -}}
{{- $servers := list
    "apollo"
-}}

data:
{{- if eq .chezmoi.os "linux" }}
{{- if .chezmoi.kernel.osrelease | lower | contains "microsoft" }}
    is_wsl: true
{{- end }}
{{- end }}
{{- if has .chezmoi.hostname $servers }}
    is_server: true
{{- else }}
    is_server: false
{{- end }}

{{- if $is_work }}
{{- $work_config := include (joinPath .chezmoi.homeDir ".work") | fromYaml }}
    work: true
    codeRoot: "$HOME/stripe"
    email: {{ onepasswordRead "op://Private/Josh Kunz/email" }}
    git:
        host: {{ onepasswordRead "op://Private/Git/host" }}
        maintainanceRepos: {{ $work_config.maintainanceRepos | toYaml | nindent 12 }}
{{- else }}
    work: false
    codeRoot: "$HOME/code"
    email: josh@kunz.xyz
{{- end }}
